@import 'src/styles.scss';

.main-body {
  text-align: center;
  padding: 16px 8px;
}

.btn-game {
  display: inline-block;
  padding: 5px 10px;
  background: #789;
  color: white !important;
  border-radius: 4px;
  text-decoration: none;;
  cursor: pointer;
  margin: 5px 10px;
}

.btn-game:hover {
  background: #9ab;
}
